{% import "utility.html" as util %}
{{util.htmltemplatetop()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />


<!-- file upload 
    plaintiff
    name 
    adhar 
    phone 
    email
    fir number 
    fir date
    address

    discription 
    file upload
    type of case 

    difendent

    defendant 
    name
        adhar 
    phone 
    email
    address
    






-->


{{util.basicnavbar("UserDashboard")}}
{{util.htmltemplatebottom()}}
